<%- include('common/authHeader'); -%>

  <body>
    <main>
      <section id="firebaseui-auth-container">
        <div id="loader">Loading &hellip;</div>
      </section>
      <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

      <%- include('common/authFooter'); -%>