<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>

    <link rel="stylesheet" href="css/style.css" />

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js">
    </script>

    <!-- Loads the login UI elements-->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js">
    </script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>